__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
*.egg

.venv/
venv/
env/

build/
dist/
pip-wheel-metadata/
*.whl

.coverage
.coverage.*
.cache/
pytest_cache/
.tox/
.mypy_cache/
.pytype/
.pyre/

.vscode/
.idea/

.DS_Store
Thumbs.db

node_modules/

*.log
