version: '3.8'
services:
  web:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./data:/data
    mem_limit: 256m
    read_only: true
  db:
    image: postgres:13
    environment:
      POSTGRES_PASSWORD: secret
